@import "../common/variables";
.portfolio {
	&__list {
		@include list(40px, 80px, 2);
		@include media-max($m) {
			@include list(0px, 30px, 1);
		}
	}
	&__item {
		position: relative;
		border-radius: 6px;
		gap: 15px;
		//@include flex(y);
		@include flex(column);
		&.hide {
			opacity: 0;
			transform: translateY(30px);
		}
		@include media-max($xs) {
			flex-direction: column;
			gap: 15px;
			padding: 15px;
		}
		&:hover {
			.portfolio__hover{
				opacity: 1;
				
	     	height: 100%;
			}
		}
	}
	&__thumb {
		@include thumb(100%, auto, 776/468);

		//border-radius: 6px;
		overflow: hidden;
		position: relative;
		img {
			object-fit: cover;
		}

		//&::before {
		//	content: '';
		//	position: absolute;
		//	top:0;
		//	left:0;
		//	bottom: 0;
		//	right: 0;
		//	background-color: rgba(#000, 0.2);
		//}
	}
	&__info {
		width: 100%;
		@include flex(between);
		gap: 5px;
		@include media-max($l) {
			width: 100%;
		}
		&-tit {
			font-size: 20px;
			font-weight: 700;
			color: #fff;
			margin-bottom: 10px;
			@include media-max($l) {
				font-size: 16px;
				margin-bottom: 5px;
			}
		}
		&-desc {
			flex: 0 0 auto;
			display: flex;
			gap: 10px;
			color:$text-3;
			font-size: 16px;
		}
	}
	&__hover {
		position: absolute;
		top:0;
		left:0;
		width: 100%;
		@include flex(column);
		@include inflex(all);
		align-items: center;
		gap:15px;
		background-image: linear-gradient(to bottom, $bg-2 40%, #011052 120%);
    opacity: 0;
		transition: 0.3s;
		
				@include media-max($l) {
						display: none !important;
				}
   
		.tit{
			font-size: 28px;
			font-weight: 600;
			margin-bottom: 10px;
		}

		.desc {
			font-size: 18px;
			color: #fff;
			@include flex(s);
			gap: 8px;
			@include media-max($l) {
				font-size: 14px;
			}
			.flex_row {
				@include flex(y);
				gap: 10px;
				flex-wrap: wrap;
			}
			.skil {
				@include flex(y);
				gap: 3px;
			}
			.link {
				color: $point;
				border-bottom: 1px solid $point;
				@include flex(y);
				gap: 2px;
			}
			&.skills,
			&.links {
				margin-top: 5px;
			}
		}
	}
}
