@import "../common/variables";
.portfolio {
	&__list {
		@include list(80px, 30px, 2);
		@include media-max($m) {
			@include list(0px, 30px, 1);
			gap:20px;
		}
	}
	&__item {
		position: relative;
		border-radius: 6px;
		gap: 15px;
		//@include flex(y);
		@include flex(column);
		&.hide {
			opacity: 0;
			transform: translateY(30px);
		}
		@include media-max($xs) {
			flex-direction: column;
			gap: 15px;
		}
		&:hover {
			.portfolio__thumb{
			box-shadow: 0 0 15px 4px #6b4dff66;
			}
			.portfolio__hover {
				opacity: 1;
				transform: scale(1);
			}
		}
	}
	&__thumb {
		@include thumb(100%, auto, 776/468);

		//border-radius: 6px;
		overflow: hidden;
		position: relative;
		img {
			object-fit: cover;
		}

		//&::before {
		//	content: '';
		//	position: absolute;
		//	top:0;
		//	left:0;
		//	bottom: 0;
		//	right: 0;
		//	background-color: rgba(#000, 0.2);
		//}
	}
	&__info {
		width: 100%;
		@include flex(between);
		align-items: flex-start;
		gap: 20px;
		@include media-max($l) {
			width: 100%;
		}
		&-tit {
			font-size: 20px;
			font-weight: 700;
			color: #fff;
			margin-bottom: 10px;
			flex: 0 0 auto;
			@include media-max($l) {
				font-size: 16px;
				margin-bottom: 5px;
			}
		}
		&-desc {
			flex: 1;
			display: flex;
			justify-content: flex-end;
			gap: 10px;
			color: $text-3;
			font-size: 16px;
			line-height: 1.5;
			@include media-max($m) {
				font-size: 14px;
			}
		}
	}
	&__hover {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		transform: scale(0.9);
		margin: auto;
		@include flex(column);
		@include inflex(all);
		align-items: center;
		gap: 15px;
		opacity: 0;
		transition: 0.25s ease;
		border: 2px solid transparent;
		background-image: linear-gradient($bg-2, $bg-2), linear-gradient(to right, #0088ff 0%, #7900c9 100%);
		background-origin: border-box;
		background-clip: content-box, border-box;
		@include media-max($l) {
			display: none !important;
		}

		.tit {
			font-size: 28px;
			font-weight: 600;
			margin-bottom: 10px;
		}

		.desc {
			font-size: 18px;
			color: $text-3;
			@include flex(s);
			gap: 8px;
			@include media-max($l) {
				font-size: 14px;
			}
			.flex_row {
				@include flex(s);
				gap: 10px;
				flex-wrap: wrap;
			}
			.skil {
				@include flex(y);
				gap: 3px;
			}
			.link {
				color: $point;
				border-bottom: 1px solid $point;
				@include flex(y);
				gap: 2px;

				.icon_link path {
					stroke: $point;
				}
			}
			&.skills,
			&.links {
				margin-top: 5px;
			}
		}
	}
}
