@charset "UTF-8";
/* ^scss에서 수정해주세요!  Don't edit .css file, Only work on the scss*/
.main {
  padding-bottom: 0;
}
@media screen and (max-width: 1023.98px) {
  .main {
    margin-top: 40px;
  }
}
.main .com_tab__wrap {
  margin-bottom: 40px;
}
@media screen and (max-width: 1023.98px) {
  .main .com_tab__wrap {
    margin-top: 60px;
    margin-bottom: 20px;
  }
}