/*common input form*/
.pf_input_sec {
	@include flex(column);
	gap: 30px;
	// .input{
	//   width:100%;
	// }

	//.block{
	//  @include flex(column);
	//   gap:10px;
	//   &+.block{
	//     padding-top:15px;
	//   }
	//}
	.tit_field {
		font-size: 14px;
		width: 120px;
		font-weight: 400;
		width: 100%;
		.dark & {
			color: #fff;
		}
	   .pf_info_txt{
			margin-top: 15px;
			font-size: 14px;
			font-weight: 400;
			margin-left: 20px;
		}
	 @include media-max($l) {
			flex: 0 0 100%;
		}
	}
	.form_tit {
		font-size: 22px;
		font-weight: 700;
		color: $fc-default;
		.dark & {
			color: #fff;
		}
		@include media-max($l) {
			font-size: 15px;
		}
	}
	.input_field {
		.tit_field{
			margin-bottom: 10px;
		}
		> .input_wrap{
			 + .input_wrap{
				margin-top: 10px;
			 }
		}
	}
		// input[type=text], input[type=password]{
		//   width:100%;
		//   &+.pf_btn{
		//     min-width:102px;
		//     font-weight:400;
		//     font-size:15px;
		//     letter-spacing:-0.38px;
		//     @include media-max($l){
		//       font-size:14px;
		//     }
		//   }
		// }
		.input_wrap {
			@include flex(y);
			gap: 10px;
			width: 100%;
			&.between {
				@include flex(between);
				//.input,
				//.select {
				//	width: calc(50% - 15px);
				//	margin: 0;
				//}
				&.total{
					font-size: 16px;
					font-weight: 700;
					padding-block: 10px;
				}
			}
			
			> .pf_input_sec{
				flex: 1;
			}

			&.wrap {
				flex-wrap: wrap;
			}
			&.gap_30 {
				gap: 30px;
			}
			&.gap_20 {
				gap: 20px;
			}
			.full {
				width: 100%;
			}
			.half {
				width: 50%;
			}

			.input_wrap {
				flex: 1;
				width: 100%;
			}
				
			.input ,.select {
				flex: 1;
				width: 100%;
				+ .pf_btn {
					width: 95px;
					padding-inline: 0;
					letter-spacing: -0.28px;
				}
				
				//검색버튼
				+ .btn_search{
					min-width: 50px;
					width: 50px;
				}
			}
			//모바일 가로영역 full
			.m_full,
			&.input_wrap.m_full {
				@include media-max($l) {
					flex: 0 0 100%;
				}
			}
			//& + .input_wrap {
			//	margin-top: 10px;
			//}
			//.pf_btn {
			//	margin-left: 0;
			//}
			.txt {
				.dark & {
					color: #fff;
				}
			}
			.account_name{
				@include media-min($l) {
				max-width: 130px;
				}
			}
		}

		.info_txt {
			color: #ff9800;
			margin-top: 10px;
			line-height: 1.6;
		}
		.error_txt {
			color: #ff9800;
			margin-top: 10px;
			line-height: 1.6;
			&.center {
				text-align: center;
			}
		}
		.ok_txt {
			color: $blue;
			margin-top: 10px;
		}
		.input,
		.select {
			&.ws {
				width: 110px;
				flex:0 0 auto;
			}
		}
		.textarea {
			min-height: 100px;
		}
		// &.border{
		//   border-bottom:1px solid $c-border;
		//   padding-bottom: 20px;
		// }
	
	.pf_btn.full.gray2 {
		margin-top: 10px;
		height: 38px;
		font-size: 15px;
	}
	.search_result {
		margin-top: 30px;
		padding: 20px;
		text-align: center;
		line-height: 20px;
		font-size: 14px;
		background: $bg-gray;
		border: 1px solid #e8e8e8;
		border-radius: 5px;
		.info_box {
			padding-block: 10px;
			line-height: 22px;
			font-size: 15px;
		}
	}
	//& + .pf_btn_wrap {
	//	margin-top: 20px;
	//}
  &.type_mini{
    gap:10px;
    .tit_field{
      font-size: 16px;
      font-weight: 700;
			margin-top:20px;   
    }
		> .tit_field{
			&:first-child{
				margin-top: 0;
			}  
		}
    //.input_field{
    //  &+.tit_field{
    //    margin-top:20px;
    //  }
    //}
  }
}
//input 개별
.input {
	&.bg {
		background: $bg-gray;
		border: none;
		.dark & {
			background-color: $inner-dark;
			border: 1px solid $c-border-dark;
		}
	}
}
.select{
	&.s{
		height: 36px;
		width:  150px;
	}
}
//!데이터피커
.pf_datepicker{
	position: relative;
	&::-webkit-calendar-picker-indicator {
		position: absolute;
		right: 15px;
		width: 15px;
		height: 15px;
		background: url(../../img/svg/icon_calendar.svg) center right  no-repeat ;
		background-size: 15px 15px;
	}
}

//!파일
.pf_input_file {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
}

//!이미지 등록
.pf_add_img{
  @include flex(y);
  gap:15px;
  @include media-max($l){
    @include flex-wrap;
  }
  @include media-max($m){
    @include list(15px,30px,3);
  }
  .item{
    @include flex(column);
    gap:10px;
    text-align: center;
    .thumb{
      @include thumb(100px,75px);
      margin-inline: auto;
    }
    .btn_area{
      @include flex(y);
      gap:5px;
      .pf_btn{flex:1;}
    }
  }
}

//!약관동의
.pf_agree_area {
	// margin-top:20px;
	// label{
	//   color:$fc-default;
	//   text-align: left;
	//   font-size:14px;
	//   @include media-max($l){
	//     font-size:13px;
	//   }
	// }
	// .item{
	//   display: flex;
	//   align-items: center;
	//   justify-content: space-between;
	//   margin-bottom:20px;
	//   @include media-max($m) {
	//     margin-bottom: 17px;
	//   }
	//   .txt{
	//     margin-left: auto;
	//     color: $point;
	//   }
	// }
	// &+.pf_btn_wrap{
	//   margin-top:33px;
	// }
}

//!검색어 입력
.pf_search {
	@include flex(s);
	gap: 10px;
	.input {
		flex: 1;
		width: 100%;
	}
	.pf_btn {
		width: 95px;
		.dark & {
		  color:#fff;
		}
	}
}

