//* 스타일 초기화 및 폰트 (초기 - 폰트, placeholder 컬러만 수정)

@charset "utf-8";
@font-face {
	font-family: "Pretendard";
	font-weight: 100;
	font-style: normal;
	src:
		url(../../fonts/Pretendard-Thin.woff2) format("woff2"),
		url(../../fonts/Pretendard-Thin.woff) format("woff");
	font-display: swap;
}
@font-face {
	font-family: "Pretendard";
	font-weight: 200;
	font-style: normal;
	src:
		url(../../fonts/Pretendard-ExtraLight.woff2) format("woff2"),
		url(../../fonts/Pretendard-ExtraLight.woff) format("woff");
	font-display: swap;
}
@font-face {
	font-family: "Pretendard";
	font-weight: 300;
	font-style: normal;
	src:
		url(../../fonts/Pretendard-Light.woff2) format("woff2"),
		url(../../fonts/Pretendard-Light.woff) format("woff");
	font-display: swap;
}
@font-face {
	font-family: "Pretendard";
	font-weight: 400;
	font-style: normal;
	src:
		url(../../fonts/Pretendard-Regular.woff2) format("woff2"),
		url(../../fonts/Pretendard-Regular.woff) format("woff");
	font-display: swap;
}
@font-face {
	font-family: "Pretendard";
	font-weight: 500;
	font-style: normal;
	src:
		url(../../fonts/Pretendard-Medium.woff2) format("woff2"),
		url(../../fonts/Pretendard-Medium.woff) format("woff");
	font-display: swap;
}
@font-face {
	font-family: "Pretendard";
	font-weight: 600;
	font-style: normal;
	src:
		url(../../fonts/Pretendard-SemiBold.woff2) format("woff2"),
		url(../../fonts/Pretendard-SemiBold.woff) format("woff");
	font-display: swap;
}
@font-face {
	font-family: "Pretendard";
	font-weight: 700;
	font-style: normal;
	src:
		url(../../fonts/Pretendard-Bold.woff2) format("woff2"),
		url(../../fonts/Pretendard-Bold.woff) format("woff");
	font-display: swap;
}
@font-face {
	font-family: "Pretendard";
	font-weight: 800;
	font-style: normal;
	src:
		url(../../fonts/Pretendard-ExtraBold.woff2) format("woff2"),
		url(../../fonts/Pretendard-ExtraBold.woff) format("woff");
	font-display: swap;
}
@font-face {
	font-family: "Pretendard";
	font-weight: 900;
	font-style: normal;
	src:
		url(../../fonts/Pretendard-Black.woff2) format("woff2"),
		url(../../fonts/Pretendard-Black.woff) format("woff");
	font-display: swap;
}

/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiByp8kv8JHgFVrLDz8Z11lFc-K.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiByp8kv8JHgFVrLDz8Z1JlFc-K.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiEyp8kv8JHgFVrJJbecmNE.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiEyp8kv8JHgFVrJJnecmNE.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiByp8kv8JHgFVrLGT9Z11lFc-K.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+20F0, U+25CC, U+A830-A839, U+A8E0-A8FF, U+11B00-11B09;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiByp8kv8JHgFVrLGT9Z1JlFc-K.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v23/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
	/* Prevent font scaling in landscape */
	-webkit-text-size-adjust: none; /*Chrome, Safari, newer versions of Opera*/
	-moz-text-size-adjust: none; /*Firefox*/
	-ms-text-size-adjust: none; /*Ie*/
	-o-text-size-adjust: none; /*old versions of Opera*/
  scroll-behavior: smooth;
}
html,
a,
button,
input,
textarea {
	font-family: $font_default, "Malgun Gothic", "맑은 고딕", Roboto, Arial;
}
*,
*::before,
*::after {
	letter-spacing: -0.02em;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	word-break: keep-all;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0); //기본적으로 클릭할때 약간씩 반짝반짝 하는 값 제거
	letter-spacing: -0.025em;
	@include browser-ie {
		word-break: break-all;
	}
}

html {
	height: 100vh;
	-webkit-text-size-adjust: none;
	/*Chrome, Safari, newer versions of Opera*/
	-moz-text-size-adjust: none;
	/*Firefox*/
	-ms-text-size-adjust: none;
	/*Ie*/
	-o-text-size-adjust: none;
	/*old versions of Opera*/
}

/*a,body,dd,div,dl,dt,h1,h2,h3,h4,h5,input,li,ol,p,html,ul,button,textarea*/
html,
textarea,
input {
	font-size: 14px;
	color:#fff;
	font-weight: normal;
	letter-spacing: -0.35px;
	line-height: 1.14;
	word-break: keep-all;
	color: $fc-default;
}
a,
body,
dd,
div,
dl,
dt,
h1,
h2,
h3,
h4,
h5,
html,
li,
ol,
p,
ul {
	padding: 0;
	margin: 0;
}

li,
ol,
ul {
	list-style: none;
}

a,
img {
	border: none;
}

img {
	max-width: 100%;
}

a + a,
img,
input + a,
input + button {
	vertical-align: middle;
}

a {
	text-decoration: none;
	display: inline-block;
	color: $fc-default;
}

a:hover {
	text-decoration: none;
}
button
// button:hover,
// button:active,
// button:visited,
// button:link,
// a:hover,
// a:active,
// a:visited,
// a:link
{
  color:$fc-default;
}
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="text"],
input[type="date"],
input[type=search],
select,
textarea {
	padding: 0 8px;
	box-sizing: border-box;
	color: $fc-default;
	font-size: 14px;
	background: #fff;
	vertical-align: middle;
	height: 50px;
	padding-inline: 14px;
	border-radius: 5px;
	border: solid 1px $c-border;
	.dark & {
		background-color: $inner-dark;
		border-color: $c-border-dark-light;
		color: #fff;
	}
}
input {
	appearance: none;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}
textarea {
	line-height: 1.5;
	outline: none;
}
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: url("../../img/select_arrow.png") no-repeat #fff;
	background-position: calc(100% - 6px) center;
	background-size: 20px auto;
	outline: none;
	padding-right: 30px;
}
/*select:disabled { background-image:url('../img/common/select_arrow_off.png'); background-color: #f8f8f8; } */
input[type="chekbox"],
input[type="radio"] {
	//padding-right: 10px;
	display: none;
}

// label+input[type=checkbox]+label,
// label+input[type=radio]+label {
//   margin-left: 10px;
// }
// input[type=checkbox]+label,
// input[type=radio]+label{margin-right: 10px;}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="search"] {
	padding-inline: 12px 10px;
	border: 1px solid $c-border;
	height: 50px;
	border-radius: 5px;
  -webkit-appearance: textfield;
	.dark & {
		background-color: $inner-dark;
		border-color: $c-border-dark-light;
		color: #fff;
	}
  &::-webkit-search-decoration {
    -webkit-appearance: none;
  }
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration,
input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none;
	width: 16px;
	height: 16px;
	background-size: 10px auto;
	cursor: pointer;
}


input[type="date"]::-webkit-clear-button,
input[type="date"]::-webkit-inner-spin-button { 
    display: none;
} 
input[type="date"]::-webkit-calendar-picker-indicator { 
    background: transparent;
    z-index: 1;
} 

input[type='date']::-webkit-calendar-picker-indicator {
  position:absolute;
  //왼쪽위에 위치시키고 클릭 영역을 부모(input)의 크기만큼 가짐
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  // 배경과 글자를 투명하게 하여 기존의 아이콘이 없는 것처럼 보여줌
  background: transparent;
  color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
}

i {
	font-style: normal;
}

*,
::after,
::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: transparent;
}

table {
	border-collapse: collapse;
	width: 100%;
	border-spacing: 0;
}

th {
	text-align: center;
}

td {
	text-align: left;
}

table > caption {
	position: absolute;
	text-indent: -9999px;
}

button {
	border: 0;
	background-color: transparent;
	cursor: pointer;
}

button:disabled {
	cursor: not-allowed;
}

button,
input,
textarea {
	-webkit-appearance: none;
}

select,
textarea,
input[type="text"],
input[type="password"] {
	width: 100%;
}

textarea {
	min-height: 150px;
	text-align: left;
	padding: 12px 15px;
}

input[type="tel"] {
	width: 40px;
	min-width: 40px;
	margin-right: 4px;
}

input[type="number"] {
	-moz-appearance: textfield;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #c3c0c3;
	opacity: 1;
	font-size: 14px;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #c3c0c3;
	opacity: 1;
	font-size: 14px;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
	color: #c3c0c3;
	opacity: 1;
	font-size: 14px;
}

input::placeholder,
textarea::placeholder {
	color: #c3c0c3;
	opacity: 1;
	font-size: 14px;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #c3c0c3;
	opacity: 1;
	font-size: 14px;
}
input:disabled {
	border: solid 1px #e7e8ef;
	background-color: transparent;
	cursor: not-allowed;
	color: #adadad;
	.dark & {
		color: #5b637a; 
	}
}

select:disabled,
input[readonly],
textarea[readonly] {
	border: 1px solid #e7e8ef;
	opacity: 1;
	background: transparent;
}

input[readonly]:focus,
textarea[readonly]:focus {
	outline: none;
}

input:focus {
	outline: none;
}

input:disabled::-webkit-input-placeholder,
input[readonly]::-webkit-input-placeholder,
textarea:disabled::-webkit-input-placeholder,
textarea[readonly]::-webkit-input-placeholder {
	color: #c3c0c3;
	opacity: 1;
}

input:disabled:-ms-input-placeholder,
input[readonly]:-ms-input-placeholder,
textarea:disabled:-ms-input-placeholder,
textarea[readonly]:-ms-input-placeholder {
	color: #c3c0c3;
	opacity: 1;
}

input:disabled::-ms-input-placeholder,
input[readonly]::-ms-input-placeholder,
textarea:disabled::-ms-input-placeholder,
textarea[readonly]::-ms-input-placeholder {
	color: #c3c0c3;
	opacity: 1;
}

input:disabled::placeholder,
input[readonly]::placeholder,
textarea:disabled::placeholder,
textarea[readonly]::placeholder {
	color: #c3c0c3;
	opacity: 1;
}

input:disabled:-ms-input-placeholder,
input[readonly]:-ms-input-placeholder,
textarea:disabled:-ms-input-placeholder,
textarea[readonly]:-ms-input-placeholder {
	color: #c3c0c3;
	opacity: 1;
}

input::-ms-clear,
input::-ms-reveal,
textarea::-ms-clear,
textarea::-ms-reveal {
	display: none;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button,
textarea::-webkit-inner-spin-button,
textarea::-webkit-outer-spin-button {
	-webkit-appearance: none;
}

textarea {
	line-height: 1.5;
}

textarea {
	resize: none;
}

img {
	border: 0;
	vertical-align: middle;
}

hr {
	display: block;
	width: 100%;
	height: 1px;
	border: none;
}

// input+button,
// textarea+button,
// select+button {
//   margin-left:10px;
// }//제거041104

main,
section,
article {
	display: block;
}

fieldset,
form {
	border: none;
	outline: none;
}

address {
	font-style: normal;
}
