@import "../common/variables";
//about
.about{
	@include media-min($l) {
			
	padding-top: 80px;
	}

		&:before{
		 content: "";
    position: absolute;
    inset: 0;
		bottom:0;
    z-index: -1;
    background-image: linear-gradient(to bottom, transparent 60%, #051661 120%);
	}

	.pf_center_wrap{
		
	  gap:120px;
	  @include flex(column);
		@include media-max($l) {
				gap:80px;
		}
		@include media-max($m) {
				gap:40px;
		}
	}
	&__txt{
		gap:30px;
		@include flex(column);
		align-items: center;
		.h{
			margin-bottom: 4%;
			
			@include font-size(40px, 80px);
			@include media-max($l) {
				margin-bottom: 5%;
			}
		}
		.h_st{
			@include flex(s);
			gap:6px;
			@include font-size(20px, 34px);
			font-weight: 500;
			color:$text-3;
		}
		.desc{
			line-height: 1.8;
			@include media-min($l) {
					font-size: 16px;
			}
		}
		.list{
			@include flex(column);
			gap:20px;
			line-height: 1.5;
			@include media-min($l) {
					font-size: 16px;
			}
			a{
				color:#fff;
				display: inline-flex;
				min-width: auto;
				gap:5px;
				border-bottom: 1px solid #fff;
			}
			li{
				@include flex(s);
				gap:10px;
			@include font-size(20px, 30px);
			color:$text-3;
			}
		}
		.pf_btn{
			width: fit-content;
			margin-top: 3%;
		}
	}
}

.content_links{
	justify-content: center;
}