@import "../common/variables";
//메인
.main {
	padding-bottom: 0;
	margin-top: 0;


	.pf_tab__wrap {
		margin-bottom: 40px;
		@include media-max($l) {
			margin-top: 60px;
			margin-bottom: 20px;
		}
	}

}

//section1
.section1 {
	position: relative;
	height: 100vh;
	background-color: $bg;
	padding-top: 3%;
	@include media-max($l) {
		padding-top: 5%;
	}
	.pf_center_wrap {
		position: relative;
	}
	.svgAniLine {
		position: absolute;
		top: 8%;
		right: 0;
		max-width: 50%;
		width: 100%;
		height: auto;
		display: block;
		@include media-max($xxl) {
			max-width: 40%;
		}
		@include media-max($m) {
			position: static;
			max-width: 90%;
			margin-inline: auto;
			margin-top: 20px;
		}
		path {
			opacity: 0.8;
			stroke-width: 3px;
			stroke: $text-2;
			//stroke-dasharray: 4313;
			//stroke-dashoffset: -4313;
			//animation: ani1 2s linear 1s forwards;
			//transition: 3s;
		}
	}
	.txt_area {
		&.main_txt {
			.en2 {
				font-style: italic;
				span {
					line-height: 1.2;
				}
			}

			@include font-size(44px, 130px);
		}
		&.sub_txt {
			font-size: 24px;
			color: $text-2;
			margin-top: 6%;
			@include media-max($l) {
				margin-top: 10%;
				
			}
			span {
				line-height: 1.8;
			}
			@include font-size(18px, 32px);
		}
		span {
			line-height: 1.1;
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
			display: block;
		}
		.char {
			transform: translateY(115px);
			transition: transform 0.5s;
		}
	}
}

@keyframes ani1 {
	0% {
		stroke-dashoffset: 4313;
	}
	100% {
		stroke-dashoffset: 0;
	}
}

//section2
.section2 {
	position: relative;
	height: 100vh;
	background-color: #fff;

	.video_wrap {
		position: relative;
		height: 100%;
		overflow: hidden;
		video {
			width: 100vw;
			height: 100vh;
			object-fit: cover;
			position: absolute;
			top: 0;
			left: 0;
		}
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 100%;
			height: 100%;
			background-color: rgba($color: #000000, $alpha: 0.7);
		}
	}

	.txt_area {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		gap: 10px;
		color: $text-2;
		max-width: 600px;
		@include flex(column);
		gap: 40px;
		align-items: center;
		@include media-max($l) {
			gap: 24px;
		}
		li {
			@include flex(s);
			gap: 5px;
			@include font-size(24px, 48px);
			font-weight: 600;
			text-align: center;
			overflow: hidden;
			.point{
				font-weight: 700;
				background-image: linear-gradient(to bottom, #a98fff, #8470ff, #554af3);
				background-clip: text;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				
		text-shadow: rgba($color: #a98fff, $alpha: 0.1) 1px 0 3px;
				
		
			}
		}
	}
}

//section3
.section3{
	padding-bottom: 10vh;
	background-color: #fff;
	color:#000;
	padding-bottom: 80vh;
	.section_title{
		position: relative ;
		height: 100vh;
		line-height: 1;
		text-align: center;
		width: 100%;
		color:#fff;
		.inner{
		text-align: center;
		width: 100%;
		padding-block: 30vh;
		height: 100vh;
		}
		.tit_my{
		@include font-size(40px, 150px);
		}
		.tit_work{
			@include font-size(46px, 180px);
			font-style: italic ;

		}
	}
	.portfolio__list{
		.portfolio__item{
			&:nth-child(2n){
				@include media-min($m) {
				margin-top: 10%;
				}
			}
		}
	}

}

//section4
.section4{
	position: relative;
	height: 100vh;
	background-color: $bg;
	padding-block: 20vh;
	@include flex(column);
	justify-content: center;
	&:before{
		content: "";
	 position: absolute;
	 inset: 0;
	 bottom:0;
	 background-image: linear-gradient(to bottom, transparent 60%, #051661 120%);
 }

	.section_title{
		line-height: 1;
		text-align: center;
		margin-bottom: 15vh;
		@include media-max($l) {
				margin-bottom: 50px;
		}
		.tit{
		@include font-size(40px, 150px);
		}
	}

	.list{
		@include flex(column);
		gap:50px;
		line-height: 1.5;
		&.center{
			align-items: center;
		}

		@include media-max($l) {
				
		gap:30px;
		}
		a{
			color:#fff;
			display: inline-flex;
			min-width: auto;
			gap:5px;
			border-bottom: 1px solid #fff;
		}
		li{
			@include flex(y);
			gap:10px;
		@include font-size(20px, 30px);
		color:$text-3;

		@include media-max($m) {
			align-items: flex-start;
	}
		}
	}
}