@import "../common/variables";
//메인
.p_main {
	padding-bottom: 0;
	@include media-max($l) {
			
	margin-top:20px
	}
	.pf_tab__wrap{
		margin-bottom: 40px;
		@include media-max($l) {
				margin-top: 0;
				margin-bottom: 20px;
		}
	}
}
