@import "../common/variables";
//메인
.main {
	padding-bottom: 0;
	@include media-max($l) {
	margin-top:40px
	}
	.pf_tab__wrap{
		margin-bottom: 40px;
		@include media-max($l) {
				margin-top: 60px;
				margin-bottom: 20px;
		}
	}
}
