@import "../common/variables";


//section3
.section_work{
	min-height: 100vh;
	padding: 13% 0;
	background-color:$bg-2;
	.tit_wrap {
		@include flex(column);
		//border-bottom: 1px solid $text-3;
		gap:80px;
		align-items: center;
		margin-bottom: 100px;
		@include media-max($m) {
			flex-direction: column;
			gap: 40px;
			margin-bottom: 40px;
		}
		.motion_txt{
			overflow: hidden;
		  span{
				display: block;
			}
		}
		
		.tit {
			font-family: Poppins;
			font-weight: 400;
			@include font-size(40px, 140px);
			
		}
	}
}

.work{
	.section_work{
		padding-top: 5%;
	}

}